*{margin:0;padding:0}

body{background:#e2e2e2;overflow-x: hidden;}



.container {
    padding: 10px;
    background: #fff;
    vertical-align: top;
    position:absolute;
    left:200px;
    border-bottom: 2px solid #e7e8e8;
    box-shadow: 0px 1px 5px 0px #e7e8e8;
    width:100%;
}

.head_icon {    width: 50px;
			    height: 50px;
			    border-radius: 30px;
			    right: 10px;
			    padding: 10px;
			    top: 4px;
			    background: #e1e1e1;}
#gnb_header{font-weight:bold;border-bottom:1px solid #eee;padding:10px;color:#007bff;margin-bottom:20px;width:100%}

.board_container{    top: 85px;
				
				    padding: 20px;
				    box-shadow: 0px 1px 5px 0px #e7e8e8;}
.profile_wrap{border:1px solid #ddd;
				background:#fff;
			    z-index: 10;
			    padding: 15px;
			    width:230px;
			    right:1%;
			    display:none}
.head_icon{cursor:pointer}
.gnb_profile_close_btn{right:6%;cursor:pointer}
.gnb_logout_btn a{color:red}
.profile_wrap div{margin-bottom:3px;border-bottom:1px solid #ddd;padding:5px 0}
.gnb_logout_btn{margin-top:10px}

	
	
.rel{position:relative}
.abo{position:absolute}

.center{text-align:center}
.color_fff{color:#fff}
	


	